{% extends 'base.html' %}
{% block _title %}
    <h6 class="h2 text-white d-inline-block mb-0">Usuario</h6>
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item"><a href="#">Alterar Senha</a></li>
            <li class="breadcrumb-item active" aria-current="page">Usuario</li>
        </ol>
    </nav>
{% endblock %}
{% block _content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Alterar Senha</h3>
                    <p class="text-sm mb-0">Insira uma senha válida.</p>
                </div>
                <form method="post" action="{% url 'acl:change_password' %}">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                {% for field in form %}
                                    {% if field.name != 'is_superuser' %}
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>{{ field.label }}</label>
                                                {{ field }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="float-right">
                                    <button type="submit" class="btn btn-primary mr-4">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}